@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
  --Very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}
body {
  font-size: 15px;
}

.contianer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: var(--Very-light-gray);
}
h1 {
  color: var(--Very-light-gray);
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
}
p {
  color: var(--Transparent-white);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5rem;
}
button {
  background-color: var(--Very-light-gray);
  color: none;
  border: none;
  width: 120px;
  height: 38px;
  border-radius: 20px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.card-1,
.card-2,
.card-3 {
  width: 245px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding: 25px;
}
.card-1 {
  background: var(--Bright-orange);
  border-radius: 7px 0 0 7px;
}
.card-2 {
  background: var(--Dark-cyan);
}
.card-3 {
  background: var(--Very-dark-cyan);
  border-radius: 0 7px 7px 0;
}

.card-1 button {
  color: var(--Bright-orange);
}
.card-1 button:hover {
  background: var(--Bright-orange);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
}

.card-2 button {
  color: var(--Dark-cyan);
}
.card-2 button:hover {
  background: var(--Dark-cyan);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
}

.card-3 button {
  color: var(--Very-dark-cyan);
}
.card-3 button:hover {
  background: var(--Very-dark-cyan);
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
}

@media screen and (max-width: 650px) {
  .contianer {
    flex-direction: column;
    height: 1200px;
  }
  .card-1 {
    margin-top: 30px;
    border-radius: 7px 7px 0 0;
  }
  .card-3 {
    margin-bottom: 30px;
    border-radius: 0 0 7px 7px;
  }
}
